**/originals/**

**/W3D4/screwdoku/**
.byebug_history
.DS_STORE


# Ignore all logfiles and tempfiles.
**/log/*
**/tmp/*
**/!/log/.keep
**/!/tmp/.keep

# Ignore uploaded files in development
**/storage/*
**/!/storage/.keep

**/node_modules
**/yarn-error.log

**/public/assets
**/.byebug_history

# Ignore master key for decrypting credentials and more.
**/config/master.key