<table>
  <thead>
    <th>Cat Attributes</th>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td>Sex</td>
      <td>Color</td>
      <td>Birth Date</td>
      <td>Description</td>
      <td>Requests</td>
    </tr>
    <%= render @cat %>
  </tbody>
</table>