<%= render @band %>

<br>

<h4>Albums</h4>
<ul>
  <% @band.albums.each do |album| %>
    <li>
      <a href=<%= album_url(album) %>><%= album.title %></a>
    </li>
  <% end %>
</ul>
<a href=<%= new_band_album_url(@band.id) %>>Create New Album</a>

