.tweet-compose {
  #tweet-content {
    label {
      display: none;
    }

    textarea {
      height: 50px;
      width: 100px;
    }

    strong {
      font-size: 12px;
      font-style: gray;
    }
  }

  #tweet-content {
    
  }
}