<form action=<%= users_url %> method="post">
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>

  <label for="username">Username: </label>
  <input type="text" name="user[username]" id="username">
  
  <label for="pwd">Password: </label>
  <input type="text" name="user[password]" id="pwd">

  <input type="submit" value="Create User">
</form>