<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the website! <%= @user.username %></h1>
    <p>
      You have successfully signed in to to cats.com,
      your username is: <%= @user.username %>
    </p>
    <p>
      To log in to the site, just go to: <%= @url %>
    </p>
    <p> Have a great day! </p>
  </body>
</html>