<h2>New Tweet!</h2>
<form action="/tweets" method="POST" class='tweet-compose'>
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <div id="tweet-content">
    <label>Content</label>
    <textarea name="tweet[content]" placeholder="Please enter your tweet"></textarea>
    <strong class="chars-left">140/140</strong>
  </div>
  <br>

  <div id="tweet-mentions">
  </div>

  <button id="add-mentions-button">Add Mentions</button>

  <input type="Submit" value="Post Tweet!">
</form>
