<h2>New Tweet!</h2>
<form action="/tweets" method="POST" class='tweet-compose'>
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <div id="tweet-content">
    <label>Content</label>
    <textarea name="tweet[content]" placeholder="Please enter your tweet"></textarea>
    <strong class="chars-left">140/140</strong>
  </div>
  <br>

  <div id="tweet-mentions">
    <label>Mention</label>
    <select name="tweet[mentioned_user_ids][]">
      <option></option>
      <% User.all.each do |user| %>
        <option value="<%= user.id %>"><%= user.username %></option>
      <% end %>
    </select>
  </div>
  <br>

  <input type="Submit" value="Post Tweet!">
</form>
